.login-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon {
  position: absolute;
  margin-top: 23px;
  font-size: 15px;
}

.password-icon {
  position: absolute;
  margin-top: 86px;
  font-size: 15px;
}

.login-container-box {
  width: 300px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
}

.login-container-box > form {
  display: flex;
  flex-direction: column;
  color: #495057;
  width: 80%;
}

.login-container-box > form > label {
  font-size: 14px;
}

.login-container-box > form > input {
  padding: 5px;
  border: 1px solid #adb5bd;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 15px;
  padding-bottom: 8px;
  background-color: white;
  color: #495057;
  text-indent: 15px;
}

.login-container-box > form > input:focus {
  outline: none;
}

.login-button {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  cursor: pointer;
}

.login-button:hover {
  animation: gradient 5s ease infinite;
}

.login-button:disabled {
  background: #adb5bd;
  cursor: not-allowed;
}

.register-link {
  color: black;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

.register-link:hover {
  text-decoration: underline;
}

/*ANIMATIONS*/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
